.playe {
	
}

.playe * {
	
}

.playe-title {

}
.playe-text{
	
}
.playe-button{
	
}
.playe-button:hover{
	
}
.playe-button:active{
	
}
.playing .playe-play{
	
}
.stopped .playe-pause{
	
}

.playe-slider-value {
	
}

[data-loading=true] .playe-timeline{
	
}
.playe-timeline{
	
}
.playe-volume{
	
}
.playe-volume .playe-slider-back::after{
	
}
.playe-volume .playe-slider-back{
	
}
.playe-slider-back{
	
}
.playe-slider-played{
	
}
.playe-slider-loaded{
	
}
.playe-slider-cursor{
	
}
.playe-slider-cursor:hover{
	
}
.playe-slider-cursor[data-playe-active=true]{
	
}
.playe-slider-cursor::after{
	margin-left:-50%;
	content:attr(data-playe-slider-value);
	position:absolute;
	bottom:100%;
	padding:4px;
	padding-top:0;
	opacity:0;
	transition:0.25s;
}
.playe-slider-cursor[data-playe-active=true]::after{
	opacity:1;
}
